body {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
  /*  background-color: indigo; */
    background: url(images/grid.png), linear-gradient(to right, #4b0082, #ff1493); 
}

.bebasnenue {
    font-family: 'Bebas Neue', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif; 
}

a {
    text-decoration: none;
    color:blue;
    background-color: white;
}

.divprincipal {
    background-color: whitesmoke;
    padding-bottom: 3em;
    display: flex; 
 flex-direction: row; 
justify-content: center;
align-items: center;
}

a:visited {
    color:blue;
}

a:hover {
    color:deeppink;
}



.rosa {
    color:deeppink;
}
.preto {
    color: black;
}

.preto2 {
    color: black;
    font-size: 16px;
}

.roxo {
    color:indigo;
}

.fotoredonda {
    border-radius: 1500px;
    width: 90%;
    
}

.titulo1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    font-size: 70px;
    color: whitesmoke;
    padding-bottom: 60px;
   
}

.subindo {
    margin-top: -100px;
}